/* swiper */
.swiper-one {
    width: 300px;
    height: 300px;
    /* position: absolute; */
    left: 80%;
    top: 60%;
    margin-left: -150px;
    margin-top: -150px;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box
}

.swiper-slide__one {
    background-position: center;
    background-size: cover;
}
.swiper-slide__one img {
    display: block;
    width: 100%;
}

.swiper-pagination-bullet-active {
    background: #000000;
}
.swiper-two {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .swiper-slide__two {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    padding: 10px;
  
  }

  .swiper-slide__two img {
    display: block;
    width: 25%;
    height: 100%;
    object-fit: cover;
    flex-basis: 30%;
    border-right: solid;
    border-radius: 100px;
}
.swiper-slide__two p {
    padding: 10px;
    font-size: 1.2vw;
    border-right: solid;
    font-family: cursive;

}
.swiper-slide__two h5 {
    padding: 5px;
    font-family: 'Font Awesome 6 Brands';
}
.slide__three img {
    width: 100%;
    border-radius: 100px;
}
.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination {
    position: static;
  }
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #7a5230;
  }
  
@media (min-width: 359px) and (max-width: 764px) {
    .swiper-one {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 38%;
        margin-left: -150px;
        margin-top: -150px;
    }

    .swiper-slide__two p {
        padding: 4px;
        font-size: 13px;
    }
}

/* end swiper */